/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;  
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
  block-size: 100vh;  
}

.decorated-zone::before {
  content: "";
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  border-block-start: 1px solid var(--bg-accent-color);
  border-inline-end: 1px solid var(--bg-accent-color);
  inline-size: 25px;
  block-size: 25px;
  aspect-ratio: 1;
}

.decorated-zone::after {
  content: "";
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: end;
  border-block-end: 1px solid var(--bg-accent-color);
  border-inline-start: 1px solid var(--bg-accent-color);
  inline-size: 25px;
  block-size: 25px;
  aspect-ratio: 1;
}

.decorated-element {

}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: 
    "nav"
    "title"
    "subtitle";
  margin-block-end: var(--margin-s, 40px);
  padding: var(--padding-s, 10px);
}

.header__theme-menu {
  grid-area: nav;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {

}

.header__theme-menu-button {

}

.header__theme-menu-button_type_light {

}

.header__theme-menu-button_active {

}

.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}

.header__title {

}

.header__subtitle {

}

.title-accent {

}

.title-decor {

}

.content-wrapper {

}

.section__content {

}

.section__header {

}

.section-wrapper {

}

.section__block {

}

.section__title {

}

.section__text {

}

.section__subtitle {

}

.link-accent {

}

.gallery-list {

}

.gallery-item {

}

.gallery__card {

}

.gallery__image {

}

.footer {

}

.footer__title {

}