/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  background: var(--bg-image) no-repeat center / cover;
  background-color: var(--bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  display: block;
  position: absolute;
  inset-block-start: calc(0% + var(--padding-small));
  inset-inline-end: calc(0% + var(--padding-small));
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--bg-accent-color);
  border-inline-end: 1px solid var(--bg-accent-color);
}

.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  inset-block-end: calc(0% + var(--padding-small));
  inset-inline-start: calc(0% + var(--padding-small));
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--bg-accent-color);
  border-inline-start: 1px solid var(--bg-accent-color);
}

.decorated-element {
  position: absolute;
  display: flex;
  align-items: center;
  gap: var(--gap-small);
  inset-block-start: calc(0% + var(--padding-small));
  inset-inline-end: calc(0% + var(--padding-small) + 9px);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--bg-accent-color);
  text-transform: uppercase;
}

.decorated-element::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--bg-accent-color);
  background-color: var(--bg-accent-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "nav"
    "title"
    "subtitle";
  margin-block-end: var(--margin-small);
  padding: var(--padding-small);
}

.header__theme-menu {
  grid-area: nav;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.header__theme-menu-button {
  padding: 0 13px;
  border: 1px solid transparent;
  line-height: 24px;
  text-align: center;
  text-transform: lowercase;
  color: var(--text-title-acсent-color);
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid var(--text-title-acсent-color);
  pointer-events: none;
}

.header__title {
  grid-area: title;
  text-transform: lowercase;
}

.header__subtitle {
  grid-area: subtitle;
  align-self: center;
  font-size: 18px;
  font-weight: 700;
}

.title-accent {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: var(--text-accent-color);
  text-shadow: 4px 4px 0 var(--bg-accent-color);
}

.title-decor {
  color: var(--text-title-color);
  background-color: var(--bg-accent-color);
}

.content-wrapper {
  padding-inline: var(--padding-small);
}

.section__content {
  display: grid;
  gap: var(--gap-big);
}

.section__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-title-acсent-color);
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-big);
}

.section-why,
.section-what,
.section-how {
  margin-block-end: var(--margin-b);
}

.section-what__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-big);
}

.section__block {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.section__title {
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px;
  color: var(--text-title-color);
  background-color: var(--bg-accent-color);
}

.section__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-title-color);
}

.link-accent {
  text-decoration: none;
  text-shadow: 2px 2px var(--bg-accent-color);
  cursor: pointer;
}

.link-accent:hover {
  border-block-end: 1px solid currentColor;
}

.link-accent:focus {
  outline: none;
}

.link-accent:focus-visible {
  outline: 1px solid currentColor;
}

.section-gallery {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  margin-block-end: calc(var(--margin-small) - 5px);
}

.gallery-list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-small) - 5px);
}

.gallery__image {
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--bg-accent-color);
}

@media (min-width: 768px) {
  .title-accent {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "nav nav"
      "title title"
      ". subtitle";
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .section-why,
  .section-how {
    grid-template-columns: 1fr 2fr;
  }

  .section-what {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content auto;
    grid-template-areas:
      "header . ."
      "content content content";
  }

  .section-what__header {
    grid-area: header;
  }

  .section-what__content {
    display: grid;
    grid-area: content;
  }

  .section-gallery {
    gap: var(--gap-big);
  }

  .gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(0, auto));
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    object-fit: cover;
    gap: var(--gap-small);
  }

  .gallery__image {
    object-fit: cover;
    block-size: 100%;
  }

  .gallery-item:nth-child(1) {
    grid-area: sunset;
  }

  .gallery-item:nth-child(2) {
    grid-area: ice-cream;
  }

  .gallery-item:nth-child(3) {
    grid-area: tape;
  }

  .gallery-item:nth-child(4) {
    grid-area: books;
  }

  .gallery-item:nth-child(5) {
    grid-area: street;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section-why,
  .section-how {
    gap: var(--gap-small);
  }

  .section-what__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
