/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex Mono", Helvetica, Arial, sans-serif;
  --bg-color: #000028;
  --bg-accent-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --text-accent-color: #db00ff;
  --text-title-color: #000028;
  --text-title-acсent-color: #ff0070;
  --button-hover-color: #ff007066;
  --padding-small: 10px;
  --padding-big: 20px;
  --margin-small: 40px;
  --margin-big: 50px;
  --gap-small: 10px;
  --gap-big: 20px;
}

@media (min-width: 768px) {
  :root {
    --padding-small: 20px;
    --margin-small: 60px;
    --margin-big: 80px;
  }
}
