/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex Mono", Helvetica, Arial, sans-serif;
  --bg-color: #000028;
  --bg-accent-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --text-accent-color: #db00ff;
  --text-title-color: #000028;
  --text-title-acсent-color: #ff0070;
  --button-hover-color: #ff007066;
  --padding-s: 10px;
  --padding-b: 20px;
  --margin-s: 40px;
  --margin-b: 50px;
  --gap-s: 10px;
  --gap-b: 20px;
}

@media (min-width: 768px) {
  :root {
    --padding-s: 20px;
    --margin-s: 60px;
    --margin-b: 80px;
  }
}
